h2 {
  margin-bottom: 30px;
}
body {
  background: #010203;
}

.page {
  height: 100vh;
  width: 100%;
  position: relative;

  .logo {
    position: absolute;
    left: 37px;
    top: 37px;
    max-width: 45px;
    max-height: 45px;
  }
}

.home {
  background: linear-gradient(-45deg, #0d1e38, #0A2E6700), url('../images/black-dslr-camera.png');
  background-position: center center,center center;
  background-size: cover, cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    left: 50%;
    transform: translateX(-50%);
    max-width: 80px;
    max-height: 80px;
  }

  &__heading {
    font-size: 140px;
    color: var(--yellow);
    text-align: center;
    width: 70vw;
  }

  .scroll-indicator {
    position: absolute;
    left: 50%;
    bottom: 10vh;
    transform: translateX(-50%);

    span {
      display: block;
      color: var(--yellow);
      margin-bottom: 30px;
      font-size: 20px;
    }

    svg {
      max-height: 15px;
      width: 100%;
    }
  }
}

.manual {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 0 50px;
  background: linear-gradient(-45deg, #0d1e38a6, #0A2E6700), url('../images/camera.png');
  background-position: right bottom,left top;
  background-size: cover,auto 100%;
  background-repeat: no-repeat ;

  .text {
    max-width: 500px;
    h2 {
      color: var(--yellow);
      font-size: 30px;
    }
    p {
      font-size: 20px;
      line-height: 28px;
      color: white;
    }
  }
}

.aperture {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  //background: linear-gradient(-45deg, #0d1e38a6, #0A2E6700);
  background-position: right bottom;
  background-size: cover;
  background-repeat: no-repeat ;

  .text {
    max-width: 450px;
    h2 {
      color: var(--yellow);
      font-size: 30px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      color: white;
    }
  }
  img {
    max-height: 75%;
    max-width: 85%;
  }
}

.footer {
  background: linear-gradient(-45deg, #0d1e38a6, #0A2E6700), url('../images/lens.jpg');
  background-size: cover, cover;
  background-position: right bottom,center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: var(--yellow);
  font-weight: bold;
  position: relative;

  > a {
    position: absolute;
    text-align: center;
    color: var(--yellow);
    bottom: 10vh;
  }
}

.cls-1 {
  fill: none;
  stroke: #fff84d;
  stroke-width: 4px;
}

.alternate {
  animation-direction: alternate !important;
}
